*{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: myfont;
    src: url("./myfont.ttf");
}

body{
font-family: myfont;
background-image:linear-gradient(rgba(255, 255, 255, 0.395), rgba(255, 255, 255, 0.395)), url(./Coffee\ espresso\ template1.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
color: rgb(49, 15, 15);

}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    background-color: rgb(202, 187, 187);
}
#logo img{
    width: 100px;
    height: 100px;
    padding-left: 20px;
    padding-top: 5px;
    margin-right: 0px;
}
.ancor-tag{
    margin-top: 20px;
    margin-right: 60px;
   
}
#logo{
    margin-left: 150px;
}

.ancor-tag a{
    text-align: center;
    text-decoration: none;
    padding: 10px, 20px;
    font-weight: bolder;
    border-radius: 10px;
    margin-right: 5px;
    padding: 10px 20px;
    color: rgb(54, 19, 19) ;
    background-color: aqua;
}
.home{
    display: flex;
    justify-content: space-between;
}
.home_heading{
    padding: 250px 100px;
    font-size: large;
    justify-content: center;
    position: relative;
    margin-left: 100;
    margin-right: 100px;
    width: 600px;
}
.home_heading h1{
    font-size: 45px;
    
}
.home_heading p{
    padding: 5PX 0px;
    
}
.home_heading button{
    color: rgb(41, 25, 25);
    border: 2px solid rgb(41, 25, 25) ;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 5px;
}
.home_image{
    position: relative;
    float: right;
    
}
.liquedimage{
    display: flex;
    position: relative;
    margin-top: -200px;
    width: 500px;
}
.liquedimage img{
  width: 600PX;
}

#coffeeheading{
    text-align: center;
    text-decoration: underline;
    font-size: 60px;
    font-weight: bolder;
    text-transform: uppercase;
}
/* coffee */

.imagescard1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
    flex-wrap: wrap;
}
.imagescard1 img{
    width: 190px;
    height: 200px;
    position: relative;
    top: -30px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    /* background-image: linear-gradient(rgba(0, 0, 0, 265)), url(); */
}
.imagescard1 div{
    background-color: rgb(77, 16, 16);
    color: wheat;
    height: 300px;
    width: 300px;
    align-items: center;
    padding-left: 70px;
    border-radius: 10px;
}

.home2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-wrap: wrap;
}
.home2 div{
    display: inline-block;
    width: 400px;
}
.home2 p{
    
    font-size: x-large;
    font-weight: bolder;
}

#coldcoffee{
    text-align: center;
    text-decoration: underline;
    font-size: 60px;
    font-weight: bolder;
    text-transform: uppercase;

}

/* imagescard2 */
.imagescard2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}
.imagescard2 div{
    background-color: rgb(77, 16, 16);
    color: wheat;
    height: 200px;
    width: 200px;
    align-items: center;
    padding-left: 70px;
    border-radius: 10px;
}
.imagescard2>div:hover{
    width: 230px;
    height: 230px;
    transition-delay: 0.5s;
}
    
.imagescard2 img{
    width: 120px;
    height: 120px;
    position: relative;
    top: -30px;
}


/* for small screen 1000px */
@media (max-width 1000px){

}